body{
    background-color:#e4dab1;
}
.topnav{
background-color:#ce4f3e;
overflow:hidden;
}
.topnav a{
float:left;
color:#2a2223;
text-align:center;
padding: 14px 16px;
text-decoration:none;
font-size:17px;
font-family:Arial, Helvetica, sans-serif
}
.topnav a:hover{
background-color:#e4dab1;
color: #ce4f3e;
}
.topnav a.active{
background-color:#e4dab1;
color: #ce4f3e;
}
@media screen and (max-width: 600px){
.topnav a{
float:none;
display:block;
text-align:left;
}
}
a{
color:#ce4f3e;
font-size:24px;
font-family:Arial, Helvetica, sans-serif;
margin-left:auto;
margin-right:auto;
}
.container{
display:block;
margin-left:auto;
margin-right:auto;
}
.imagecontainer1{
display:block;
float:left;
}
.imagecontainer2{
display:block;
float:right;
}
.imagecontainer3{
display:block;
margin-left:auto;
margin-right:auto;
}
h1{
font-family:Arial, Helvetica, sans-serif;
color:#2a2223;
text-align:center;
}
p{
font-family: Arial, Helvetica, sans-serif;
color:#ce4f3e;
text-align:center;
}
.image-row1{
display:flex;
justify-content:center;
padding: 10px;
}
.image-row2{
display:flex;
justify-content:center;
padding:10px;
}
.image-row1 img{
margin:0 10px;
}
.image-row2 img{
margin:0 10px;
}