h1{
    text-align:center;
    color:#2a2223;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color:#e4dab1;
}
.typesetting1{
    color:#ce4f3e;
    font-family:Arial, Helvetica, sans-serif;
}
.topnav{
background-color:#ce4f3e;
overflow:hidden;
}
.topnav a{
float:left;
color:#2a2223;
text-align:center;
padding: 14px 16px;
text-decoration:none;
font-size:17px;
font-family:Arial, Helvetica, sans-serif
}
.topnav a:hover{
background-color:#e4dab1;
color: #ce4f3e;
}
.topnav a.active{
background-color:#e4dab1;
color: #ce4f3e;
}
@media screen and (max-width: 600px){
.topnav a{
float:none;
display:block;
text-align:left;
}
}
a{
color:#ce4f3e;
font-size:24px;
font-family:Arial, Helvetica, sans-serif;
margin-left:auto;
margin-right:auto;

}
li{
color:#2a2223;
font-family:Arial, Helvetica, sans-serif;
}